*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 6fr;
  grid-template-columns: 1fr 4fr;
}

div#sidebar {
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1;
}

div#header {
  grid-column: 2 / 3;
}

div#content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

div#sidebar#sidebar-header {
  grid: 1 / 1 / 2 / 2;
}

div#sidebar a {
  grid: 2 / 1 / 3 / 2;
  display: grid;
  grid-template: 1fr / 1fr 3fr;
}
